/* Moto G4 and Galaxy S5 */
@media (max-width: 361px) and (max-height: 641px) and (min-width: 360px) and (min-height: 640px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 69.4%;
        padding-bottom: 69.4%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }

    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 2%;
        padding-right: 2%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 100%;
        width: 100%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}

/* Pixel 2 */
@media (max-width: 412px) and (max-height: 732px) and (min-width: 411px) and (min-height: 731px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 69.5%;
        padding-bottom: 69.5%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }

    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 100%;
        width: 100%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}

/* Pixel 2 XL */
@media (max-width: 412px) and (max-height: 824px) and (min-width: 411px) and (min-height: 823px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 81%;
        padding-bottom: 81%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }
    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 100%;
        width: 100%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}

/* Iphone 5/SE, Iphone 6/7/8, and Iphone 6/7/8 Plus*/
@media (max-width: 415px) and (max-height: 737px) and (min-width: 320px) and (min-height: 568px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 69.4%;
        padding-bottom: 69.4%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }

    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 100%;
        width: 100%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}

/* Iphone 10 */
@media (max-width: 376px) and (max-height: 813px) and (min-width: 375px) and (min-height: 812px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 88.8%;
        padding-bottom: 88.8%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }

    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 100%;
        width: 100%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}

/* Ipad */
@media (max-width: 769px) and (max-height: 1025px) and (min-width: 768px) and (min-height: 1024px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 51%;
        padding-bottom: 51%;
    }

    #name {
        text-align: center;
        font-size: 57px;
    }

    #sub {
        font-size: 29px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 95%;
        width: 95%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        justify-content: left;
        width: 40%;
    }
}

/* Ipad Pro */
@media (max-width: 1025px) and (max-height: 1367px) and (min-width: 1024px) and (min-height: 1366px) {
    #container {
        padding-top: 53.5%;
        padding-bottom: 53.5%;
    }

    #name {
        text-align: center;
        font-size: 76px;
    }

    #sub {
        font-size: 38px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #about-body {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #image-container {
        background-color: red;
        padding-bottom: 75px;
    }

    #profile-pic {
    }
}

/* Surface Duo */
@media (max-width: 541px) and (max-height: 721px) and (min-width: 540px) and (min-height: 720px) {
    #front {
        background-size: auto;
    }

    #container {
        padding-top: 47.2%;
        padding-bottom: 47.2%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }

    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 19%;
        padding-bottom: 19%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 92%;
        width: 92%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}

/* Galaxy Fold */
@media (max-width: 281px) and (max-height: 654px) and (min-width: 280px) and (min-height: 653px) {
    #container {
        padding-top: 97%;
        padding-bottom: 97%;
    }

    #name {
        text-align: center;
        font-size: 40px;
    }

    #sub {
        font-size: 20px;
    }

    #navigation {
        height: 95px;
    }

    #about-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #about-title {
        text-align: center;
    }

    #image-container {
        text-align: center;
        padding-bottom: 100px;
    }

    #profile-pic {
        height: 100%;
        width: 100%;
    }

    #about-text {
        font-size: x-large;
    }

    #links {
        font-size: 45px;
        width: 40%;
    }
}
