#project {
	margin-bottom: 35px;
}

#card-container {
	height: 600px;
	width: 600px;
	/* height: 500px; */
	background-color: #e6e9ef;
	border-width: inherit;
}

.topLink {
	color: #000000;
	font-size: 1.2em;
	margin-right: 10px;
}

#card-text {
	color: #3d58b8;
}

.tool {
	margin-right: 10px;
	font-size: 1.2em;
}

@media (max-width: 1920px) {
	#card-container {
		height: 500px;
		width: 500px;
	}
}

@media (max-width: 1816px) {
	#card-container {
		height: 450px;
		width: 450px;
	}
}

@media (max-width: 1650px) {
	#card-container {
		height: 400px;
		width: 400px;
	}
}

@media (max-width: 1497px) {
	#card-container {
		height: 450px;
		width: 375px;
	}
}

@media (max-width: 1345px) {
	#card-container {
		height: 450px;
		width: 350px;
	}
}

@media (max-width: 489px) {
	#card-container {
		height: 500px;
	}
}

@media (max-width: 375px) {
	#card-container {
		width: 300px;
		height: 600px;
	}
}
