#education-container {
    padding-top: 5.2%;
    padding-left: 7.2%;
    padding-right: 7.2%;
    padding-bottom: 12.13%;
    background-color: #eee;
}

#education-title,
#education-school,
#education-major,
#education-info {
    text-align: center;
}

/* Moto G4 and Galaxy S5 */
@media (max-width: 361px) and (max-height: 641px) and (min-width: 360px) and (min-height: 640px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Pixel 2 */
@media (max-width: 412px) and (max-height: 732px) and (min-width: 411px) and (min-height: 731px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Pixel 2 XL */
@media (max-width: 412px) and (max-height: 824px) and (min-width: 411px) and (min-height: 823px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Iphone 5/SE, Iphone 6/7/8, and Iphone 6/7/8 Plus*/
@media (max-width: 415px) and (max-height: 737px) and (min-width: 320px) and (min-height: 568px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Iphone 10 */
@media (max-width: 376px) and (max-height: 813px) and (min-width: 375px) and (min-height: 812px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Ipad */
@media (max-width: 769px) and (max-height: 1025px) and (min-width: 768px) and (min-height: 1024px) {
    /* Education */
    #education-container {
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Ipad Pro */
@media (max-width: 1025px) and (max-height: 1367px) and (min-width: 1024px) and (min-height: 1366px) {
    /* Education */
    #education-container {
        padding-top: 13%;
        padding-bottom: 63%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
    }

    #education-text {
        font-size: larger;
    }
}

/* Surface Duo */
@media (max-width: 541px) and (max-height: 721px) and (min-width: 540px) and (min-height: 720px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* Galaxy Fold */
@media (max-width: 281px) and (max-height: 654px) and (min-width: 280px) and (min-height: 653px) {
    /* Education */
    #education-container {
        padding-top: 21%;
        padding-bottom: 21%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    #education-title {
        text-align: center;
    }

    #education-info-row {
        margin-bottom: 8%;
    }

    #education-school,
    #education-major,
    #education-info {
        text-align: center;
        font-size: x-large;
    }

    #education-text {
        font-size: x-large;
    }
}

/* *Landscape Media Queries */

/* Moto G4 and Galaxy S5*/
@media (max-width: 641px) and (max-height: 361px) and (min-width: 640px) and (min-height: 360px) {
    #education-container {
        padding-top: 9%;
        padding-bottom: 9%;
    }
}

/* Pixel 2 */
@media (max-width: 732px) and (max-height: 412px) and (min-width: 731px) and (min-height: 411px) {
    #education-container {
        padding-top: 9%;
        padding-bottom: 9%;
    }
}

/* Pixel 2 XL */
@media (max-width: 824px) and (max-height: 412px) and (min-width: 823px) and (min-height: 411px) {
    #education-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

/* Iphone 5/SE*/
@media (max-width: 569px) and (max-height: 321px) and (min-width: 568px) and (min-height: 320px) {
    #education-container {
        padding-top: 9%;
        padding-bottom: 9%;
    }
}

/* Iphone 6/7/8 */
@media (max-width: 668px) and (max-height: 376px) and (min-width: 667px) and (min-height: 375px) {
    #education-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

/* Iphone 6/7/8 Plus*/
@media (max-width: 737px) and (max-height: 415px) and (min-width: 736px) and (min-height: 414px) {
    #education-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

/* Iphone 10 */
@media (max-width: 813px) and (max-height: 376px) and (min-width: 812px) and (min-height: 375px) {
    #education-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

/* Ipad */
@media (max-width: 1025px) and (max-height: 769px) and (min-width: 1024px) and (min-height: 768px) {
    #education-container {
        padding-top: 8%;
    }
}

/* Ipad Pro */
@media (max-width: 1367px) and (max-height: 1025px) and (min-width: 1366px) and (min-height: 1024px) {
    #education-container {
        padding-top: 11%;
        padding-bottom: 25%;
    }
}

/* Surface Duo */
@media (max-width: 721px) and (max-height: 541px) and (min-width: 720px) and (min-height: 540px) {
    #education-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

/* Galaxy Fold */
@media (max-width: 654px) and (max-height: 281px) and (min-width: 653px) and (min-height: 280px) {
    #education-container {
        padding-top: 8%;
        padding-bottom: 8%;
    }
}
