#navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #151e3f;
	position: sticky;
	top: 0;
}

#nav-links {
	overflow: hidden;
}

#menu {
	display: none;
}

#nav-list {
	display: flex;
	flex-direction: row;
	transition: max-height 0.2s ease-out;
}

/* TODO: Change to burger menu on the right for all small mobile apps */

/** Responsiveness  */
@media screen and (max-width: 600px) {
	#menu {
		display: block;
		user-select: auto;
	}

	#nav-list {
		display: none;
	}
}

/** Moto G4 and Galaxy S5 */
/** Pixel 2 */
/** Pixel 2 XL */
/** Iphone 5/SE, Iphone 6/7/8, and Iphone 6/7/8 Plus*/
/** Iphone 10 */

/** Ipad */
/** Ipad Pro */
/** Surface Duo */
/** Galaxy Fold */
