#navigation {
	background-color: #151e3f;

	/* Sticks NavBar to the when scrolling */
	position: sticky;
	top: 0;
}

.nav-links,
.nav-links.responsive {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#menu {
	display: none;
}

#menu-icon {
	font-size: x-large;
}

.menu-list {
	display: flex;
	flex-direction: row;
}

/* TODO: Change to burger menu on the right for all small mobile apps */
@media screen and (max-width: 600px) {
	.menu-list {
		display: none;
	}

	.nav-links {
		justify-content: space-between;
	}

	.nav-links.responsive.navbar-nav {
		display: flex;
		flex-direction: column;
	}

	.menu-list.responsive {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.links {
		width: 100%;
		text-align: center;
	}

	#menu {
		display: block;
	}
}
/** Responsiveness  */

/** Moto G4 and Galaxy S5 */
/** Pixel 2 */
/** Pixel 2 XL */
/** Iphone 5/SE, Iphone 6/7/8, and Iphone 6/7/8 Plus*/
/** Iphone 10 */

/** Ipad */
/** Ipad Pro */
/** Surface Duo */
/** Galaxy Fold */
