#navigation {
	background-color: #151e3f;
	position: sticky;
	top: 0;
	display: flex;
}

.nav-links {
	width: 100%;
	flex-direction: row;
	justify-content: center;
}

#menu {
	display: none;
	user-select: none;
}

#menu-icon {
	font-size: x-large;
}

.nav-list {
	display: flex;
	flex-direction: row;
}

/* TODO: Change to burger menu on the right for all small mobile apps */
@media screen and (max-width: 600px) {
	.nav-links {
		justify-content: space-between;
	}

	.nav-list {
		display: none;
	}

	.nav-list.responsive {
		float: none;
		display: block;
		text-align: left;
		display: flex;
		flex-direction: column;
	}

	#menu {
		display: block;
	}

	#resume-button {
	}
}
/** Responsiveness  */

/** Moto G4 and Galaxy S5 */
/** Pixel 2 */
/** Pixel 2 XL */
/** Iphone 5/SE, Iphone 6/7/8, and Iphone 6/7/8 Plus*/
/** Iphone 10 */

/** Ipad */
/** Ipad Pro */
/** Surface Duo */
/** Galaxy Fold */
