#project {
    width: 30rem;
    margin-bottom: 35px;
    margin-right: 21px;
}

#card-container {
    height: 400px;
    background-color: #E6E9EF;
    border-width: inherit;
}

#card-text {
    color: #3D58B8;
}

@media (max-width: 600px) {
    #project {
        width: 100%;
    }
}

@media (max-width: 489px) {
    #card-container {
        height: 500px;
    }
}

@media (max-width: 369px) {
    #card-container {
        height: 600px;
    }
}