#front {
	background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');

	/* Mutable */
	background-size: cover;
}

#front-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #151e3f;
	opacity: 0.7;

	/* Mutable */
	padding-top: 16%;
	padding-bottom: 16%;
}

#name-container {
	color: white;
	font-size: 4.4em;
	margin-bottom: 0px;
}

#front-divider {
	margin-top: 0px;
	width: 33%;
	border-width: 5px;
	border-color: white;
}

#front-sub {
	font-size: 1.7em;
	color: white;
}

/** MotoG4 and  Galaxy S5 */
@media (max-width: 360px) and (max-height: 640px) {
	#front {
		background-size: auto;
	}

	#front-container {
		padding-top: 37%;
		padding-bottom: 37%;
	}
}

/** Pixel 2  */
/** Pixel 2 XL */
/** Iphone 5/SE */
/** Iphone 6/7/8 */
/** Iphone 6/7/8/ Plus */

/** Iphone X */
@media (max-width: 375px) and (max-height: 812px) {
	#name-container {
		font-size: 4em;
	}
}

/** Ipad */
/** Ipad Pro */
/** Surface Duo  */
/** Galaxy Fold */
