#front {
	background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');

	/* Mutable */
	background-size: cover;
	height: 100%;
}

#front-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #151e3f;
	opacity: 0.7;
	height: 100%;
	width: 100%;

	/* Mutable */
	padding-top: 15%;
	padding-bottom: 15%;
}

#name-container {
	color: white;
	font-size: 4.4em;
	margin-bottom: 0px;
}

#front-divider {
	margin-top: 0px;
	width: 100%;
	border-width: 5px;
	border-color: white;
}

#front-sub {
	font-size: 1.7em;
	color: white;
}

/** Responsiveness */
