#about {
	background-color: #f5f5f5;
	padding-bottom: 415px;
}

#about-body {
	display: flex;
	flex-direction: row;
}

#bio {
	padding-left: 50px;
}

.link {
	color: black;
	margin-right: 10px;
}

/** Responsiveness */
/** Monitor XL */
@media (max-width: 1920px) {
	#profile-pic {
		width: 271px;
		height: 323px;
	}
}

/** Laptop Large and XL */
@media (max-width: 1650px) {
}

/** Laptop */
@media (max-width: 1024px) {
}

/** Tablet */
@media (max-width: 768px) {
	#about-body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#bio {
		padding-top: 25px;
		padding-left: 0px;
	}
}

/** Mobile XL */
@media (max-width: 600px) {
	#about {
		padding-bottom: 150px;
	}
}
