#experience-container {
    padding-top: 5.2%;
    padding-left: 7.2%;
    padding-right: 7.2%;
    padding-bottom: 24.13%;
}

/* Moto G4 and Galaxy S5 */
@media (max-width: 361px) and (max-height: 641px) and (min-width: 360px) and (min-height: 640px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 62%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Pixel 2 */
@media (max-width: 412px) and (max-height: 732px) and (min-width: 411px) and (min-height: 731px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 62%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Pixel 2 XL */
@media (max-width: 412px) and (max-height: 824px) and (min-width: 411px) and (min-height: 823px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 84%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Iphone 5/SE, Iphone 6/7/8, and Iphone 6/7/8 Plus*/
@media (max-width: 415px) and (max-height: 737px) and (min-width: 320px) and (min-height: 568px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 62%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Iphone 10 */
@media (max-width: 376px) and (max-height: 813px) and (min-width: 375px) and (min-height: 812px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 101%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Ipad */
@media (max-width: 769px) and (max-height: 1025px) and (min-width: 768px) and (min-height: 1024px) {
    /* Experience */
    #experience-container {
        padding-top: 15%;
        padding-bottom: 59%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Ipad Pro */
@media (max-width: 1025px) and (max-height: 1367px) and (min-width: 1024px) and (min-height: 1366px) {
    /* Experience */
    #experience-container {
        padding-top: 13%;
        padding-bottom: 90%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
    }

    #experience-text {
        font-size: larger;
    }
}

/* Surface Duo */
@media (max-width: 541px) and (max-height: 721px) and (min-width: 540px) and (min-height: 720px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 17.5%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}

/* Galaxy Fold */
@media (max-width: 281px) and (max-height: 654px) and (min-width: 280px) and (min-height: 653px) {
    /* Experience */
    #experience-container {
        padding-top: 21%;
        padding-bottom: 117%;
        padding-left: 7%;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }
    #experience-title {
        text-align: center;
    }

    #experience-date-row {
        margin-bottom: 8%;
    }

    #experience-company,
    #experience-position,
    #experience-info {
        text-align: center;
        font-size: x-large;
    }

    #experience-text {
        font-size: x-large;
    }
}
