#school {
	width: 100%;
}

#school-container {
	display: flex;
	flex-direction: row;
	width: 75%;
	margin-bottom: 8px;
}

#school-logo-container {
	height: 100%;
}

#school-info-container {
	margin-left: 40px;
}

#school {
	margin-bottom: 10px;
}

#degree,
#gpa {
	margin-bottom: 0;
}

#date {
	margin-bottom: 0;
	font-weight: lighter;
}

#activities {
	margin-bottom: 10px;
	font-weight: lighter;
}
