#school {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#school-info-container {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin-left: 35px;
}

#degree,
#gpa,
#grad-date {
	margin: 0;
}

#degree,
#gpa,
#grad-date,
#activities {
	color: #3d58b8;
}

/* My Laptop */

@media (max-width: 600px) {
	#school {
		flex-direction: column;
		align-items: center;
	}

	#school-logo-container {
		margin-bottom: 35px;
	}

	#school-info-container {
		margin-left: 0;
	}

	#grad-date {
		margin-bottom: 10px;
	}
}

@media (max-width: 320px) {
	#school-info-container {
		width: 100%;
	}
}
