#contact-item-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#contact-type-container {
	margin-left: 15px;
}

#contact-type {
	margin-top: 10px;
	margin-bottom: 0;
}

#contact-link {
	font-size: 1.2em;
	color: #d7263d;
}

@media (max-width: 476px) {
	#contact-item-container {
		flex-direction: column;
		text-align: center;
	}

	#contact-link {
		font-size: 1em;
	}
}

@media (max-width: 376px) {
	#contact-link {
		font-size: 0.8em;
	}
}
