#about-container {
    margin: auto;
    width: 90%;
    padding-left: 7.2%;
    padding-right: 7.2%;
    padding-top: 5.2%;
    padding-bottom: 14.2%;
}

#about-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#image-container {
    order: 1;
    flex-grow: 1;
}

#text-container {
    flex-grow: 3;
    order: 2;
}

#profile-pic {
    width: 271px;
    height: 323px;
}

#links {
    justify-content: space-between;
    display: flex;
    width: 13%;
}
