#about {
	background-color: #f5f5f5;
}

#about-container {
	margin: auto;
	width: 90%;
	padding-left: 7.2%;
	padding-right: 7.2%;
	padding-top: 5.2%;
	padding-bottom: 14.2%;
}

#about-title {
	text-align: center;
}

#about-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#image-container {
	flex-grow: 1;
}

#text-container {
	flex-grow: 3;
}

#profile-pic {
	width: 271px;
	height: 323px;
}

#links {
	justify-content: space-between;
	display: flex;
	width: 13%;
}

@media (max-width: 361px) and (max-height: 641px) and (min-width: 360px) and (min-height: 640px) {
	#about-container {
		padding-top: 21%;
		padding-bottom: 21%;
		padding-left: 2%;
		padding-right: 2%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#about-text {
		font-size: xx-large;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#links {
		font-size: 45px;
		width: 40%;
	}
}

@media (max-width: 412px) and (max-height: 732px) and (min-width: 411px) and (min-height: 731px) {
	#about-container {
		padding-top: 21%;
		padding-bottom: 21%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#about-text {
		font-size: x-large;
	}

	#links {
		font-size: 45px;
		width: 40%;
	}
}

@media (max-width: 412px) and (max-height: 824px) and (min-width: 411px) and (min-height: 823px) {
	#about-container {
		padding-top: 21%;
		padding-bottom: 21%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#about-text {
		font-size: x-large;
	}

	#links {
		font-size: 45px;
		width: 40%;
	}
}

@media (max-width: 415px) and (max-height: 737px) and (min-width: 320px) and (min-height: 568px) {
	#about-container {
		padding-top: 21%;
		padding-bottom: 21%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#about-text {
		font-size: x-large;
	}

	#links {
		font-size: 45px;
		width: 40%;
	}
}

@media (max-width: 376px) and (max-height: 813px) and (min-width: 375px) and (min-height: 812px) {
	#about-container {
		padding-top: 21%;
		padding-bottom: 21%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#about-text {
		font-size: x-large;
	}

	#links {
		font-size: 45px;
		width: 40%;
	}
}

@media (max-width: 769px) and (max-height: 1025px) and (min-width: 768px) and (min-height: 1024px) {
	#about-container {
		padding-top: 15%;
		padding-bottom: 15%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#about-text {
		font-size: x-large;
	}

	#links {
		font-size: 45px;
		justify-content: left;
		width: 40%;
	}
}

@media (max-width: 1025px) and (max-height: 1367px) and (min-width: 1024px) and (min-height: 1366px) {
	#about {
		padding-left: 0%;
		padding-right: 0%;
	}

	#about-container {
		padding-top: 13%;
		padding-bottom: 13%;
		padding-left: 0%;
		padding-right: 0%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		padding-bottom: 75px;
		display: flex;
		justify-content: center;
	}

	#profile-pic {
		width: max-content;
		height: max-content;
	}

	#about-text {
		font-size: larger;
	}
}

@media (max-width: 541px) and (max-height: 721px) and (min-width: 540px) and (min-height: 720px) {
	#about-container {
		padding-top: 20%;
		padding-bottom: 20%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: 80%;
		width: 80%;
	}

	#about-text {
		font-size: large;
	}

	#links {
		font-size: 40px;
		width: 32%;
	}
}

@media (max-width: 281px) and (max-height: 654px) and (min-width: 280px) and (min-height: 653px) {
	#about-container {
		padding-top: 21%;
		padding-bottom: 21%;
		padding-left: 1%;
		padding-right: 1%;
	}

	#about-title {
		text-align: center;
	}

	#image-container {
		text-align: center;
		padding-bottom: 100px;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}

	#about-text {
		font-size: x-large;
	}

	#links {
		font-size: 45px;
		width: 40%;
	}
}

/* *Landscape Media Query */

/* Moto G4 and Galaxy S5*/
@media (max-width: 641px) and (max-height: 361px) and (min-width: 640px) and (min-height: 360px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Pixel 2 */
@media (max-width: 732px) and (max-height: 412px) and (min-width: 731px) and (min-height: 411px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Pixel 2 XL */
@media (max-width: 824px) and (max-height: 412px) and (min-width: 823px) and (min-height: 411px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Iphone 5/SE*/
@media (max-width: 569px) and (max-height: 321px) and (min-width: 568px) and (min-height: 320px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Iphone 6/7/8 */
@media (max-width: 668px) and (max-height: 376px) and (min-width: 667px) and (min-height: 375px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Iphone 6/7/8 Plus*/
@media (max-width: 737px) and (max-height: 415px) and (min-width: 736px) and (min-height: 414px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Iphone 10 */
@media (max-width: 813px) and (max-height: 376px) and (min-width: 812px) and (min-height: 375px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Ipad */
@media (max-width: 1025px) and (max-height: 769px) and (min-width: 1024px) and (min-height: 768px) {
	#about-container {
		padding-top: 7%;
		padding-bottom: 16.5%;
	}
}

/* Ipad Pro */
@media (max-width: 1367px) and (max-height: 1025px) and (min-width: 1366px) and (min-height: 1024px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 16%;
	}

	#about-text {
		font-size: larger;
	}

	#profile-pic {
		height: max-content;
		width: max-content;
	}
}

/* Surface Duo */
@media (max-width: 721px) and (max-height: 541px) and (min-width: 720px) and (min-height: 540px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/* Galaxy Fold */
@media (max-width: 654px) and (max-height: 281px) and (min-width: 653px) and (min-height: 280px) {
	#about-container {
		padding-top: 9%;
		padding-bottom: 9%;
	}

	#about-body {
		display: flex;
		flex-direction: column;
	}

	#image-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
