#skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 640px) {
    #skills-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}