#projects {
	background-color: #f5f5f5;
}

#projects-lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}

#button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@media (max-width: 1496px) {
	#projects-lists {
		justify-content: center;
	}
}

@media (max-width: 1252px) {
	#projects-lists {
		flex-direction: column;
		align-items: center;
	}
}