#contact-cover {
	background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');
	background-size: cover;
}

#contact {
	background-color: #151e3f;
	opacity: 0.9;
	color: white;
	padding-bottom: 20%;
}

#contact-divider {
	border-color: #3d58b8;
	width: 75%;
}
